if friends.length
  table.table.table-striped
    each friend in friends
      -var name = [friend.firstname, friend.lastname].join(' ');
      -var isOnline = UserService.isOnline(friend)
      tr.user(data-user-id=friend.id, class=isOnline ? 'online' : '')
        td
          img(src="/user/avatar/" + friend.id, width="60", height="60" alt=name)
        td.vmiddle= name
          span.indicate (online)
        td.vmiddle
          a.delete-friend(href="#", data-id=friend.id) Удалить
else
  span У Вас пока нет друзей
